<h2>Welcome! Time to interact unlike the Gods of old</h2>
<blockquote>
  Dear <%= @user.username %>, your account has been made and a bond has been formed with <s>Odin</s>
  OdinSocial. Now you can interact with others making this awesome journey.
</blockquote>

<p>It begins now.</p>