<%= form_for @user do |form| %>

  <div class="box">
    <div class="field">
      <%= form.label :bio, 'Edit your bio:', class: 'label' %>
      <div class="control">
        <%= form.text_area :bio, class: 'input'%>
      </div>
    </div>
  </div>

  <%= form.submit class: 'button is-link is-inverted' %>
<% end %>