<% friends_list.each do |friend| %>
  <div class="card">

    <div class="card-content">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <p><%= friend.username %> |
              <%= link_to user_path(friend) do %>
                <small>Profile</small>
              <% end %>
            </p>
          </div>
        </div>
      </article>
    </div>
  </div>
<% end %>