<%= form_with scope: 'friend_request', model: request do |form| %>
  <%= form.hidden_field :accepted, value: (response == 'Accept') %>
  <%= button_tag type: 'submit', class: 'button is-text' do %>
    <p><%= response %> request</p>
  <% end %>
<% end %>