<section class="section">
  <div class="container">
    <div class="level">
      <div class="level-item">
        <h2 class="title is-2 has-text-weight-normal">Edit post</h2>
      </div>
    </div>
    <article>
      <div class="level">
        <div class="level-item">
          <%= render 'post-form', post: @post %>
        </div>
      </div>
    </article>
  </div>
</section>